agate==1.7.0
aiosqlite==0.18.0
alembic==1.10.1
anyio==3.6.2
apprise==1.3.0
asgi-lifespan==2.0.0
astroid==2.15.3
asttokens==2.2.1
async-timeout==4.0.2
asyncpg==0.27.0
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
bernhard==0.2.6
betterproto==1.2.5
bokeh==3.1.0
boto3==1.26.87
botocore==1.29.87
bottle==0.12.23
cachetools==5.3.0
cassandra-driver==3.25.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
chevron==0.14.0
click==8.1.3
clickhouse-connect==0.5.18
clickhouse-driver==0.2.5
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.2
contourpy==1.0.7
coolname==2.2.0
CouchDB==1.2
croniter==1.3.8
cryptography==39.0.2
dask==2023.4.0
dateparser==1.1.7
db-dtypes==1.0.5
dbt-clickhouse==1.4.0
dbt-core==1.4.5
dbt-extractor==0.4.1
debugpy==1.6.6
decorator==5.1.1
dill==0.3.6
distributed==2023.4.0
docker==6.0.1
elastic-transport==8.4.0
executing==1.2.0
fastapi==0.93.0
fsspec==2023.3.0
future==0.18.3
geomet==0.2.1.post1
Glances==3.3.1.1
google-api-core==2.11.0
google-api-python-client==2.80.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.6.0
google-cloud-bigquery-storage==2.19.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
graphitesender==0.11.2
greenlet==2.0.2
griffe==0.25.5
grpcio==1.51.3
grpcio-status==1.51.3
grpclib==0.4.3
h11==0.14.0
h2==4.1.0
HeapDict==1.0.1
hologram==0.0.15
hpack==4.0.0
httpcore==0.16.3
httplib2==0.21.0
httpx==0.23.3
hvac==1.1.0
hyperframe==6.0.1
idna==3.4
ifaddr==0.2.0
importlib-metadata==6.4.1
influxdb==5.3.1
influxdb-client==1.35.0
ipykernel==6.20.2
ipython==8.9.0
isodate==0.6.1
isort==5.12.0
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.3
jsonschema==3.2.0
jupyter_client==8.0.2
jupyter_core==5.2.0
kafka-python==2.0.2
kubernetes==26.1.0
lazy-object-proxy==1.9.0
leather==0.3.4
locket==1.0.0
Logbook==1.5.3
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mashumaro==3.3.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
minio==7.1.13
msgpack==1.0.4
multidict==6.0.4
mypy-boto3-s3==1.26.62
mypy-boto3-secretsmanager==1.26.49
nest-asyncio==1.5.6
netifaces==0.11.0
networkx==2.8.8
numpy==1.24.2
oauthlib==3.2.2
orjson==3.8.7
packaging==23.0
paho-mqtt==1.6.1
pandas==1.5.2
pandas-gbq==0.18.1
parsedatetime==2.4
parso==0.8.3
partd==1.4.0
pathspec==0.10.3
pbkdf2==1.3
pendulum==2.1.2
pexpect==4.8.0
pickleshare==0.7.5
pika==1.3.1
Pillow==9.5.0
pip==23.0.1
platformdirs==2.6.2
ply==3.11
potsdb==1.0.3
prefect==2.8.4
prefect-aws==0.2.4
prefect-gcp==0.2.4
prefect-sqlalchemy==0.2.2
prefect-vault==0.1.3
prompt-toolkit==3.0.36
proto-plus==1.22.2
protobuf==4.21.11
psutil==5.9.4
psycopg2-binary==2.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
py3nvml==0.2.7
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.21
pycryptodomex==3.16.0
pydantic==1.10.5
pydata-google-auth==1.7.0
pydocstyle==6.3.0
pyflakes==3.0.1
pygal==3.0.0
Pygments==2.14.0
pyhcl==0.4.4
pylama==8.4.1
pylint==2.17.2
pymdstat==0.4.2
pyparsing==3.0.9
pyrsistent==0.19.3
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.8.2
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
pyzmq==25.0.0
reactivex==4.0.4
readchar==4.0.3
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.3.2
rsa==4.9
s3transfer==0.6.0
scandir==1.10.0
setuptools==65.6.3
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.46
sqlparse==0.4.3
stack-data==0.6.2
starlette==0.25.0
statsd==4.0.1
stringcase==1.2.0
tblib==1.7.0
text-unidecode==1.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.7
toolz==0.12.0
tornado==6.2
traitlets==5.9.0
typer==0.7.0
typing_extensions==4.5.0
tzdata==2022.7
tzlocal==4.2
ujson==5.7.0
uritemplate==4.1.1
urllib3==1.26.14
uvicorn==0.20.0
wcwidth==0.2.6
websocket-client==1.5.1
websockets==10.4
Werkzeug==2.2.3
wheel==0.38.4
wifi==0.3.8
wrapt==1.15.0
xmltodict==0.13.0
xyzservices==2023.2.0
zeroconf==0.47.1
zict==2.2.0
zipp==3.15.0
zstandard==0.20.0
