clickhouse-connect==0.5.18
clickhouse-driver==0.2.5
dask[dataframe]
dbt-clickhouse==1.4.0
dbt-core==1.4.5
dbt-extractor==0.4.1
fastparquet
hydra-core
minio
pandas
pre-commit
prefect-dbt
prefect-dbt[cli]
prefect-shell
prefect-sqlalchemy
prefect-sqlalchemy==0.2.2
prefect_dask
pyarrow
requests
