pandas
clickhouse-connect==0.5.18
clickhouse-driver==0.2.5
minio
prefect_dask
requests
dbt-core==1.4.5
pyarrow
fastparquet
dbt-clickhouse==1.4.0
dbt-extractor==0.4.1
prefect-sqlalchemy
dask[dataframe]
prefect-dbt[cli]
prefect-dbt
prefect-shell
prefect-sqlalchemy==0.2.2